.footer {
        width: 100%;
        background-color: #000;
        height: 120px;
        padding-bottom: 7px;
        margin-top: 100px;
        position:fixed;
	    bottom:0;
}

.footer img {
	margin-bottom: 8px;
}

.footer  a:hover{
	color: #fff;
	text-decoration: none;
}

.footer a {
	color: #5E6C7D;
}

.footer-items {
	margin-top: 30px;
}

.center {
	margin: 5px auto;
	text-align: center;
}

.headers {
	font-family: fantasy;
	margin: 15px auto;
}

.images {
	margin: 20px auto;
	border: 2px block #585955;
	border-radius: 6em;
	-webkit-box-shadow: #000;
	-moz-box-shadow: #000;
	box-shadow: #000;
}

#About p {
	margin: 20px auto;
	font-family: Cambria, Georgia, serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.info {
	width: 400px;
}

.fixed {
	position: fixed;
	width: 100%;
	z-index:2000;
	background-color: #686e72;
	box-shadow:
	    inset 60px 0 120px #686e72,
	    inset -60px 0 120px #8d9aa3;
}

.nav-link {
	width: 325px;
	border: 1px solid #ffffff;
	color: #ffffff;
	border-top: none;
	border-bottom: none;
}

.nav-link:hover {
	background-color: #8d9aa3;
	color: #000000;
	border-color: #585955;
	--link-hover-color: #6ad9ec
}

.nav-pills .nav-item .nav-link.active {
	background-color: #8d9aa3;
	border-color: #585955;
	color: #000;
}

.home {
	width: 30px;
	border-style: none;
}

#Projects {
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.projectsInfo {
	font-family: Cambria, Georgia, serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 25px;
}

#contactInfo {
	
}

#Education {
	height: 280px;
}

#Skills {
	height: 220px;
}

.content {
	padding-top: 40px;
    background-color: #E5E5E5;
	box-shadow:
		inset 60px 0 250px #E5E5E5,
	    inset 60px 0 120px #a3a1a1,
	    inset -60px 0 120px #bcbcbc,
	    inset -60px 0 250px #a3a1a1;
    height: 100%!important;
    min-height: 100vh;
    width: auto !important;  
}

#Projects , #Skills , #contactInfo, #Education {
	color: #000;
	margin-bottom: 120px;
	padding-bottom: 8%;
	width: 75%;
}

#Projects hr , #Skills hr, #contactInfo  hr, #Education hr{
	width: 70%;
	background-color: #000;
}

.card {
	max-width: 23% !important;
}

.cardText {
	color: #000000;
	margin: 15px;
    width: 100%;
    font-family: Cambria, Georgia, serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.card-img-top {
	background-color: #d5d5d5;
}

.card-footer {
	height: 10px;
	background-color: #d5d5d5 !important;
}

.card:hover {
	-webkit-box-shadow: #000000;
	-moz-box-shadow: #000000;
	box-shadow: #000000;
	background-color: #d5d5d5;
}

.card:hover .card-img-top {
	background-color: #000;
}

.card:hover .card-footer {
	background-color: #000 !important;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.progLang {
	float: left;
}

.progLang p {
	font-family: fantasy;
	font-size: 18px;
}

.education-section {
	margin-right: 15px;
}

.education-section p {
	font-family: fantasy;
	font-size: 16px;
}

.education-section span {
	font-size: 12px;
}

.card-title {
	font-weight: Bold;
}

.container-contact {
    text-align: center;
    margin: 15px auto; 
    border: 1px #000000 solid;
    border-radius: 5em;
    opacity: 0.8;
    width: 510px;
}

.container-contact label {
  margin: 8px; 
  float: left;
}

.container-contact input {
  margin: 8px; 
  border-radius: 2em;
  padding: 10px;
  width: 490px;
}

.container-contact textarea {
  border-radius: 2em;
  margin: 8px;
  width: 490px;
  height: 150px;
  resize: none;
}

.container-contact button {
  margin-top: 15px; 
  margin-bottom: 15px;
  width: 90px;
}

.container-contact div {
	border-radius: 2em;
	margin: 5px;
}

.menu-nav {
	display: none;
}

.tabName {
    	display: none;
}

@media all and (min-width: 1024px) and (max-width:1300px) {
	.menu-nav {
		display: block;
		margin-right: 290px;
		margin-top: 5px;
	}

	.home {
		display: none;
	}

	.tabName {
		display: block;
		font-weight: Bold;
		margin-left: 131px;
	}

    .projectTab {
    	margin-right: 330px;
    	background-color: #585955;
    }

    .fixed {
    	height: 50px;
    	overflow: hidden;
    }

    .footer {
		margin-top: 80px;
		padding-bottom: 122px;
	}

	.container-contact {
	  text-align: center;
	  margin: 15px auto; 
	  border: 1px #000000 solid;
      border-radius: 5em;
	  opacity: 0.8;
	  width: 65%;
	}

	.container-contact label {
	  margin: 8px; 
	  float: left;
	}

	.container-contact input {
	  margin: 8px auto; 
	  border-radius: 2em;
	  padding: 10px;
	  width: 65%;
	}

	.container-contact textarea {
	  border-radius: 2em;
	  margin: 8px auto;
	  width: 65%;
	  height: 150px;
	  resize: none;
	}

	.container-contact button {
	  margin-top: 15px; 
	  margin-bottom: 15px;
	  width: 65%;
	}

	.container-contact div {
		border-radius: 2em;
		width: 65%;
		margin: 5px auto;
	}
}

@media all and (min-width: 720px) and (max-width:1023px) {
	.menu-nav {
		display: block;
		margin-right: 80%;
		margin-top: 5px;
	}

	.home {
		display: none;
	}

	.tabName {
		display: block;
		font-weight: Bold;
		margin-left: 165px;
	}
    .projectTab {
    	margin-right: 270px;
    }

    .fixed {
    	height: 50px;
    	overflow: hidden;
    }

    .footer {
		margin-top: 68px;
	}

	.progLang {
		float: left;
		margin-bottom: 15px;
	}

	.progLang p {
		display: none;
	}

	.container-contact {
	  text-align: center;
	  margin: 15px auto; 
	  border: 1px #000000 solid;
      border-radius: 5em;
	  opacity: 0.8;
	  width: 65%;
	}

	.container-contact label {
	  margin: 8px; 
	  float: left;
	}

	.container-contact input {
	  margin: 8px auto; 
	  border-radius: 2em;
	  padding: 10px;
	  width: 65%;
	}

	.container-contact textarea {
	  border-radius: 2em;
	  margin: 8px auto;
	  width: 65%;
	  height: 150px;
	  resize: none;
	}

	.container-contact button {
	  margin-top: 15px; 
	  margin-bottom: 15px;
	  width: 65%;
	}

	.container-contact div {
		border-radius: 2em;
		width: 65%;
		margin: 5px auto;
	}
}


@media all and (min-width: 500px) and (max-width:719px) {
	.content {
		min-height: 110vh;
	    min-width: 111vw;
	}
	.menu-nav {
		display: block;
		margin-right: 600px;
		margin-top: 5px;
	}

	.home {
		display: none;
	}

	.tabName {
		display: none;
		font-weight: Bold;
	}
    .projectTab {
    	margin-right: 180px;
    }

    .fixed {
    	height: 50px;
    	overflow: hidden;
    }

    .nav-link {
		width: 100%;
	}

    .footer {
		margin-top: 68px;
	}

	.progLang {
		margin-bottom: 15px;
	}

	.progLang p {
		display: none;
	}

	.container-contact {
	  text-align: center;
	  margin: 15px auto; 
	  border: 1px #000000 solid;
      border-radius: 2em;
	  opacity: 0.8;
	  width: 85%;
	}

	.container-contact label {
	  margin: 8px; 
	  float: left;
	}

	.container-contact input {
	  margin: 8px auto; 
	  border-radius: 2em;
	  padding: 10px;
	  width: 85%;
	}

	.container-contact textarea {
	  border-radius: 2em;
	  margin: 8px auto;
	  width: 85%;
	  height: 150px;
	  resize: none;
	}

	.container-contact button {
	  margin-top: 15px; 
	  margin-bottom: 15px;
	  width: 65%;
	  border-radius: 2em;
	}

	.container-contact div {
		border-radius: 2em;
		width: 65%;
		margin: 5px auto;
	}
}

@media all and (max-width:499px) and (min-width:421px){
	.content {
		min-height: 110vh;
	    min-width: 111vw;
	}
	.menu-nav {
		display: block;
		margin-right: 365px;
		margin-top: 5px;
	}

	.home {
		display: none;
	}

	.tabName {
		display: none;
		font-weight: Bold;
	}
    .projectTab {
    	margin-right: 180px;
    }

    .fixed {
    	height: 50px;
    	overflow: hidden;
    }

    .nav-link {
		width: 100%;
	}

    .footer {
		margin-top: 68px;
	}

	#About p {
	margin: 5px auto;
	margin-left: 40px; 
	font-family: Cambria, Georgia, serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
	width: 300px;
	}

	#Education {
		height: auto;
	}

	#Skills {
		height: auto;
	}

	.progLang {
		float: none;
		margin: 15px;
	}

	.progLang p {
		display: none;
	}

	.container-contact {
	  text-align: center;
	  margin: 15px auto; 
	  border: 1px #000000 solid;
      border-radius: 2em;
	  opacity: 0.8;
	  width: 85%;
	}

	.container-contact label {
	  margin: 8px; 
	  float: left;
	}

	.container-contact input {
	  margin: 8px auto; 
	  border-radius: 2em;
	  padding: 10px;
	  width: 85%;
	}

	.container-contact textarea {
	  border-radius: 2em;
	  margin: 8px auto;
	  width: 85%;
	  height: 150px;
	  resize: none;
	}

	.container-contact button {
	  margin-top: 15px; 
	  margin-bottom: 15px;
	  width: 65%;
	  border-radius: 2em;
	}

	.container-contact div {
		border-radius: 2em;
		width: 65%;
		margin: 5px auto;
	}

}

@media all and (max-width:420px) and (min-width:371px){
	.menu-nav {
		display: block;
		margin-right: 330px;
		margin-top: 5px;
	}

	.home {
		display: none;
	}

    .fixed {
    	height: 50px;
    	overflow: hidden;
    	margin-bottom: 50px;
    }

    .nav-link {
		width: 100%;
	}

	#About {
		margin-top: 75px;
	}

	.progLang {
		float: none;
		margin: 15px;
	}

	.progLang p {
		display: none;
	}

	#Education {
		height: auto;
	}

	#Skills {
		height: auto;
	}

	.content {
		padding-top: 1px;
		min-height: 110vh;
	    min-width: 111vw;
	}

	.footer {
		margin-top: 68px;
		padding-bottom: 56px;
	}

	#About p {
	margin: 20px auto;
	margin-left: 40px; 
	font-family: Cambria, Georgia, serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
	width: 300px;
	}

	.container-contact {
	  text-align: center;
	  margin: 15px auto; 
	  border: 1px #000000 solid;
      border-radius: 2em;
	  opacity: 0.8;
	  width: 85%;
	}

	.container-contact label {
	  margin: 8px; 
	  float: left;
	}

	.container-contact input {
	  margin: 8px auto; 
	  border-radius: 2em;
	  padding: 10px;
	  width: 85%;
	}

	.container-contact textarea {
	  border-radius: 2em;
	  margin: 8px auto;
	  width: 85%;
	  height: 150px;
	  resize: none;
	}

	.container-contact button {
	  margin-top: 15px; 
	  margin-bottom: 15px;
	  width: 65%;
	  border-radius: 2em;
	}

	.container-contact div {
		border-radius: 2em;
		width: 65%;
		margin: 5px auto;
	}
}

@media all and (max-width:370px){
	.menu-nav {
		display: block;
		margin-right: 330px;
		margin-top: 5px;
	}

	.home {
		display: none;
	}

    .fixed {
    	height: 50px;
    	overflow: hidden;
    	width: 100%;
    	margin-bottom: 50px;
    }

    .nav-link {
		width: 100%;
	}

	#About {
		margin-top: 75px;
	}

	.progLang {
		float: none;
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.progLang p {
		display: none;
	}

	#Education {
		height: auto;
	}

	#Skills {
		height: auto;
	}

	.content {
		padding-top: 1px;
		min-height: 110vh;
	    min-width: 111vw;
	}

	.footer {
		margin-top: 68px;
	}

	#About p {
	margin: 20px auto;
	margin-right: 38px; 
	font-family: Cambria, Georgia, serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	width: 90%;
	}

	.container-contact {
	  text-align: center;
	  margin: 15px auto; 
	  border: 1px #000000 solid;
      border-radius: 5em;
	  opacity: 0.8;
	  width: 100%;
	}

	.container-contact h2 {
		font-size: 24px;
		font-weight: Bold;
		font-family: fantasy;
	}

	.container-contact label {
	  margin: 8px; 
	  float: left;
	}

	.container-contact input {
	  margin: 8px auto; 
	  border-radius: 2em;
	  padding: 10px;
	  width: 95%;
	}

	.container-contact textarea {
	  border-radius: 2em;
	  margin: 8px auto;
	  width: 95%;
	  height: 150px;
	  resize: none;
	}

	.container-contact button {
	  margin-top: 15px; 
	  margin-bottom: 15px;
	  width: 65%;
	  border-radius: 2em;
	}

	.container-contact div {
		border-radius: 2em;
		width: 75%;
		margin: 5px auto;
	}
}